/* add your CSS here */
.wolf {
    background-color:#787A7A;

}

.clownfish {
    background-color: #FFB173;

}

.border-gray {
    border: 1px solid rgb(216, 217, 216);
    border-radius: 4px;
    width: 300px;
    padding: 0 10px 10px 10px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

}

.title {
    color:#fff;

}

.text-italic {
    font-style: italic;
}

.text-bold {
    line-weight: bold;
}

.border-gray {
    border: 1px solid rgb(216, 217, 216);
    border-radius: 4px;
    width: 300px;
    padding: 0 10px 10px 10px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.photo-animal {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    padding-bottom: 10px;
}

.sub-border {
    border: 1px solid rgb(216, 217, 216);
    border-radius: 4px;
    width: 278px;
    padding: 0 10px 0 10px;
    background-color: #fff;
}

.photo-animal {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    padding-bottom: 10px;
}

.clear-list {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
}
